// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#balances {
    tr {
        td {
            padding: 2px;
            vertical-align: middle;
            &:nth-child(1) {
                text-align: right;
                width: 10%;
            }
            &:nth-child(2),
            &:nth-child(3) {
                text-align: right;
                width: 45%;
            }
        }
    }
}
