.item_form-block {
    margin: 12px 0;
    padding: 12px;
    form#new_item_form {
        input#item_form_date {
            width: 120px;
        }
        input#item_form_amount {
            text-align: right;
        }
    }
}
