$sidebar-width: 200px;

#wrapper {
    padding-left: $sidebar-width;
    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: $sidebar-width;
        width: $sidebar-width;
        height: 100%;
        margin-left: -$sidebar-width;
        overflow-y: auto;
        background: #000;
    }
    #page-content-wrapper {
        width: 100%;
        position: relative;
        padding: 15px;
        margin-right: -$sidebar-width;
    }
}
