// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signin-form-block {
    width: 32%;
    margin: 0 auto;
    padding: 16px;
}
