.sidebar-nav {
    position: absolute;
    top: 0;
    width: $sidebar-width;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        text-indent: 20px;
        line-height: 40px;

        a {
            display: block;
            text-decoration: none;
            color: #999999;
        }
    }

    & > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;

        a {
            color: #9999999;
            &:hover {
                color: #fff;
                background: none;
            }
        }
    }
}
